/* Courses  */
.courses .rows {
    /* display: grid;
    grid-template-columns: repeat(auto fill, minmax(300px, 1fr));
    gap: 20px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.courses .rows .box {
    border: 1px solid #848484;
    border-radius: 10px;
    width: 30%;
}

.courses .rows .box .image {
    /* width: 200px; */
    width: 100%;
}

.courses .rows .box .image img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}